<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="shortcut icon" href="/images/bf.jpg" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="~/css/profile/aos.css" rel="stylesheet" />
    <link href="~/css/profile/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/profile/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/css/profile/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/css/profile/glightbox.css" rel="stylesheet" />
    <link href="~/css/profile/swiper-bundle.min.css" rel="stylesheet" />
    <link href="~/css/profile/style.css" rel="stylesheet" />
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
    <title>@ViewData["Title"] - BigFootWebApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        #main {
            background: url('/images/bc2.jpg') center;
            min-height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <!-- End Header -->

    <main id="main" class="p-3">
        @RenderBody()
    </main><!-- End #main -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/profile/purecounter.js"></script>
    <script src="~/js/profile/aos.js"></script>
    <script src="~/js/profile/bootstrap.bundle.js"></script>
    <script src="~/js/profile/glightbox.min.js"></script>
    <script src="~/js/profile/isotope.pkgd.min.js"></script>
    <script src="~/js/profile/swiper-bundle.min.js"></script>
    <script src="~/js/profile/typed.min.js"></script>
    <script src="~/js/profile/noframework.waypoints.js"></script>
    <script src="~/js/profile/main.js"></script>
    <script src="~/js/Modal.js"></script>
    <script>
        $(function () {
            Modal.StartUp();
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
