@{
    ViewData["Title"] = "Home Page";
}
<style>
    .center {
        position: absolute;
        width: 780px;
        height: 650px;
        left: 50%;
        top: 50%;
        margin-left: -390px;
        margin-top: -325px;
    }
    </style>
<center>
    <section @*id="hero"*@ class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            <h1>Welcome To BigFoot-IT</h1>
            <center><p><span class="typed" data-typed-items="Customers , Interactions , Business"></span></p></center>
        </div>
    </section>
    <img src="~/images/bigfoot-logo.png">
</center>
