@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}



@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <center>
        <h1>@ViewData["Title"]</h1>
        <p>
            You have been registered @Model.Email
        </p>
        <a id="confirm-link" class="btn btn-primary" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
    </center>
        <br />



        <p>
                @*This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                Normally this would be emailed:*@ 
            

            </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}
